<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  
  <!-- name -->
  <div>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
  </div>
  
  <!-- description -->
  <div>
    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
  </div>

  <!-- starting price -->
  <div>
    <mat-form-field>
      <input matInput type="number" placeholder="Starting Price" formControlName="startingPrice">
    </mat-form-field>
  </div>

  <!-- minimum bid -->
  <div>
    <mat-form-field>
      <input matInput type="number" placeholder="Minimum bid" formControlName="minimumBid">
    </mat-form-field>
  </div>

  <!-- endDate -->
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Auction ends" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <!-- location -->
  <div>
    <mat-form-field>
      <input matInput placeholder="Location" formControlName="location">
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" id="btnCreateAuction"
  [disabled]="isLoading">Auction my product</button>
</form>